<div>
  <div class="breadcrumb-block">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="{ name:'business-dashboard'}">Home</router-link>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Manage Departure
        </li>
      </ol>
    </nav>
  </div>
  <FlashMessage></FlashMessage>
  <div class="white-box">
    <div class="error-list" v-if="errorsMessage">
      <ul class="error-msg">
        <li v-for="(error,x) in errorsMessage" :key="x">
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="sort-wrapper">
      <div class="row">
        <div class="col-lg-6">
          <h5>Filter by:</h5>
        </div>
        <div class="col-lg-6">
          <div class="clear text-right" @click="clearAllFilter">
            <a>
              <i class="fas fa-redo"></i> clear all filters
            </a>
          </div>
        </div>
      </div>
      <form action="#">
        <div class="form-modified">
          <div class="row">
            <!-- <div class="col-lg-4">
                          <div class="form-group">
                              <label for="Package title">Trek</label>
                              <div class="multiselect-input">
                                      <multiselect
                                      :options='TrekList'
                                      label="title"
                                      :track-by="'id'"
                                      v-model="GetTrek"
                                      @input="GetPackageDepartureList()"
                                      placeholder="Choose Trek.."
                                      ></multiselect>
                              </div>                                     
                          </div>
                      </div> -->
            <div class="col-lg-4">
              <div class="form-group">
                <label for="Package title">Status</label>
                <div class="multiselect-input" v-if="StatusList">
                  <multiselect :options='StatusList' label="name" :track-by="'id'" v-model="Status"
                    @input="GetPackageDepartureList()" placeholder="Choose Status.."></multiselect>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="Package title">Seasons</label>
                <div class="multiselect-input" v-if="getSeasons">
                  <multiselect :options='getSeasons' label="name" :track-by="'id'" v-model="Season"
                    placeholder="Choose Season.." @input="GetPackageDepartureList()"></multiselect>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <label for="Package title">Start Range</label>
              <div class="form-group">
                <datetime v-model="GetStartDate" format="yyyy-MM-dd" placeholder="Start Date"></datetime>
              </div>

            </div>
            <div class="col-lg-4">
              <label for="Package title">End Range</label>
              <div class="form-group">
                <datetime v-model="GetEndDate" format="yyyy-MM-dd" placeholder="End Date"
                  @input="GetPackageDepartureList()"></datetime>
              </div>

            </div>
            <!-- <div class="col-lg-4">
                              <button @click.prevent="GetPackageDepartureList()" class="btn default-btn mt-4">Filter</button>
                          </div> -->
          </div>
        </div>

      </form>
      <hr>
    </div>

    <div class="table-title">
      <div class="container-fluid px-0">
        <div class="row align-items-center">
          <div class="col-lg-9">
            <h5>Manage departure</h5>
          </div>
          <div class="col-lg-3">
            <a class="btn add-btn" href="#" @click.prevent="departureModal()"><i class="fas fa-plus"></i> Add new
              departure</a>
          </div>
        </div>
      </div>
    </div>
    <div class="table-container">
      <div class="table-responsive">
        <table class="table" id="example">
          <thead class="table-light-bg">
            <tr>
              <th>Trek title</th>
              <th scope="col">Start date</th>
              <th scope="col">
                End date
                <i class="fas fa-chevron-down"></i>
              </th>
              <th scope="col">
                Min quota
                <i class="fas fa-chevron-down"></i>
              </th>
              <th scope="col">
                Max quota

                <i class="fas fa-chevron-down"></i>
              </th>
              <th scope="col">Season</th>
              <th scope="col">
                Base price($)
                <i class="fas fa-chevron-up"></i>
              </th>
              <th scope="col">
                Pre-booking
                <i class="fas fa-chevron-down"></i>
              </th>
              <th scope="col">
                Booking
                <i class="fas fa-chevron-down"></i>
              </th>
              <th scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(departure, index) in DepartureList" :key="index">
              <td v-if="departure.trek.title">{{departure.trek.title}}</td>
              <td v-else>-</td>
              <td v-if="departure.start_date">{{ departure.start_date }}</tdv-if>
              <td v-else>-</td>
              <td v-if="departure.end_date">{{ departure.end_date }}</tdv-if>
              <td v-else>-</td>
              <td v-if="departure.min_quota">{{ departure.min_quota }}</tdv-if>
              <td v-else>-</td>
              <td v-if="departure.max_quota">{{ departure.max_quota }}</td>
              <td v-else>-</td>
              <td v-if="departure.season">{{ departure.season.name}}</td>
              <td v-else>-</td>
              <td v-if="departure.base_price">{{ departure.base_price }}</td>
              <td v-else>-</td>
              <td>
                <div class="badge">
                  <a href="#" class="badge badge-primary">{{
                    departure.bookings_count
                  }}</a>
                </div>
              </td>
              <td>
                <div class="badge">
                  <a href="#" class="badge badge-success">{{
                    departure.pre_bookings_count
                  }}</a>
                </div>
              </td>
              <td>
                <div class="includes-action justify-content-start">
                  <button v-if="departure.IsActive == true" type="button" class="btn green">
                    <i class="fas fa-save"></i>
                  </button>
                  <button v-if="departure.IsActive == true" type="button" class="btn red"
                    @click="CancelDeparture(index, departure)">
                    <i class="fas fa-times"></i>
                  </button>
                  <button v-if="!departure.IsActive" type="button" class="btn blue"
                    @click.prevent="EditDeparture(index, departure)">
                    <i class="fas fa-pen"></i>
                  </button>
                  <button type="button" class="btn red" @click.prevent="deleteDep(index, departure)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </td>
            </tr>
            <div v-if="DepartureList ==0" class="empty-data">
              <p>
                No Package List
              </p>
            </div>
          </tbody>
        </table>
      </div>
      <Pager @onPaging="onPaging" :pager="paging"></Pager>
    </div>
  </div>

  <div class="modal-wrap">
    <div class="modal fade show" id="addDeparture" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add departure</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="error-list" v-if="errorsModal">
            <ul class="error-msg">
              <li v-for="(error,x) in errorsModal" :key="x">
                {{ error }}
              </li>
            </ul>
          </div>
          <div class="modal-body">
            <div class="form-modified">
              <div class="form-group">
                <datetime v-model="Departure.StartDate" format="yyyy-MM-dd" placeholder="Start Date"
                  :class="{ 'error-input' : errors['start_date'] }"></datetime>
                <validation-error v-if="isError" :isError="isError" :errors="errors" :field="'start_date'" />
              </div>

              <div class="form-group">
                <datetime v-model="Departure.EndDate" format="yyyy-MM-dd"
                  :class="{ 'error-input' : errors['end_date'] }" placeholder="End Date"></datetime>
                <validation-error v-if="isError" :isError="isError" :errors="errors" :field="'end_date'" />
              </div>

              <div class="form-group">
                <datetime type="time" placeholder="Departure time" use12-hour v-model="Departure.Time"
                  :class="{ 'error-input' : errors['start_time'] }"></datetime>
                <validation-error v-if="isError" :isError="isError" :errors="errors" :field="'start_time'" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="inputPassword" placeholder="Min quota"
                  v-model="Departure.MinQuota" :class="{ 'error-input' : errors['min_quota'] }" />
                <validation-error v-if="isError" :isError="isError" :errors="errors" :field="'min_quota'" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="inputPassword" placeholder="Max quota"
                  v-model="Departure.MaxQuota" :class="{ 'error-input' : errors['max_quota'] }" />
                <validation-error v-if="isError" :isError="isError" :errors="errors" :field="'max_quota'" />
              </div>
              <div class="form-group"></div>
              <div class="multiselect-input">
                <multiselect :options='getSeasons' v-model="Departure.Season" label="name" :track-by="'name'"
                  placeholder="Choose Suitable Seasons.." :class="{ 'error-input' : errors['season_id'] }">
                </multiselect>
                <validation-error v-if="isError" :isError="isError" :errors="errors" :field="'season_id'" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-btn" @click.prevent="CreateDeparture">Save
            </button>
            <button type="button" class="btn default-btn cancel" @click.prevent="hideDepartureModal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit Departure Modal -->
  <div class="modal-wrap">
    <div class="modal fade show" id="EditDeparture" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add departure</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="error-list" v-if="errorsSave">
            <ul class="error-msg">
              <li v-for="(error,x) in errorsSave" :key="x">
                {{ error }}
              </li>
            </ul>
          </div>

          <div class="modal-body">
            <div class="form-modified">
              <div class="form-group">
                <datetime v-model="EditSelectedDeparture.StartDate" format="yyyy-MM-dd" placeholder="Start Date"
                  :class="{ 'error-input' : errors['edit_start_date'] }"></datetime>
                <validation-error v-if="isError" :isError="isError" :errors="errors" :field="'edit_start_date'" />
              </div>

              <div class="form-group">
                <datetime v-model="EditSelectedDeparture.EndDate" format="yyyy-MM-dd"
                  :class="{ 'error-input' : errors['edit_end_date'] }" placeholder="End Date"></datetime>
                <validation-error v-if="isError" :isError="isError" :errors="errors" :field="'edit_end_date'" />
              </div>

              <div class="form-group">
                <datetime type="time" placeholder="Departure time" use12-hour v-model="EditSelectedDeparture.Time"
                  :class="{ 'error-input' : errors['edit_start_time'] }"></datetime>
                <validation-error v-if="isError" :isError="isError" :errors="errors" :field="'edit_start_time'" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="inputPassword" placeholder="Min quota"
                  v-model="EditSelectedDeparture.MinQuota" :class="{ 'error-input' : errors['edit_min_quota'] }" />
                <validation-error v-if="isError" :isError="isError" :errors="errors" :field="'edit_min_quota'" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="inputPassword" placeholder="Max quota"
                  v-model="EditSelectedDeparture.MaxQuota" :class="{ 'error-input' : errors['edit_max_quota'] }" />
                <validation-error v-if="isError" :isError="isError" :errors="errors" :field="'edit_max_quota'" />
              </div>
              <div class="form-group"></div>
              <div class="multiselect-input">
                <multiselect :options='getSeasons' v-model="EditSelectedDeparture.Season" label="name"
                  :track-by="'name'" placeholder="Choose Suitable Seasons.."
                  :class="{ 'error-input' : errors['edit_season_id'] }"></multiselect>
                <validation-error v-if="isError" :isError="isError" :errors="errors" :field="'edit_season_id'" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-btn" @click.prevent="SaveDeparture()">Save
            </button>
            <button type="button" class="btn default-btn cancel" @click.prevent="hideDepartureEditModal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-wrap">
    <div class="modal fade show" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Departure</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="error-list" v-if="errorsEdit">
            <ul class="error-msg">
              <li v-for="(error,x) in errorsEdit" :key="x">
                {{ error }}
              </li>
            </ul>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this ?</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn default-btn" @click.prevent="DeleteDeparture()">Ok</button>
            <button type="button" class="btn default-btn cancel" @click.prevent="hideDeleteModal()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>