<div>
  <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="review-tab">
    <div class="booking-table-container">
      <div class="error-list" v-if="errorsMessage">
        <ul class="error-msg">
          <li v-for="(error,x) in errorsMessage" :key="x">
            <div v-for="(err,i) in error" :key="i">
              <p> {{err}}</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="sort-wrapper">
          <div class="row">
            <div class="col-lg-6">
              <h5>Sort by:</h5>
            </div>
            <div class="col-lg-6">
              <div class="clear text-right"><a><i class="fas fa-redo"></i> clear all filters
                </a></div>
            </div>
          </div>
            <form action="#">
                <div class="form-modified">
                        <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <!-- <div class="multiselect-input" v-if="StatusList">
                                                <multiselect
                                                :options='StatusList'
                                                label="name"
                                                :track-by="'id'"
                                                v-model="Status"
                                                @input="getDepartureList()"
                                                placeholder="Choose Status.."
                                                ></multiselect>
                                        </div>                                      -->
                                    </div>
                                </div>
                                <!-- <div class="col-lg-4">
                                    <button @click.prevent="getDepartureList()" class="btn default-btn mt-4">Filter</button>
                                </div> -->
                            </div>
                </div>
                
            </form>
        </div>
      <div class="table-responsive" >
        <table class="table" id="example">
          <thead class="table-light-bg" v-if="ReviewList">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Title<i class="fas fa-chevron-down"></i></th>
              <th scope="col">Review <i class="fas fa-chevron-down"></i></th>

              <th scope="col">Date</th>
              <th scope="col">Rating <i class="fas fa-chevron-up"></i></th>


              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- {{ReviewList}} -->
              <tr v-if="ReviewList" v-for="(review, index) in ReviewList" :key="index">
              <td>
                <div class="review-image">
                  <img src="img/user.jpg" alt="" />
                </div>
                <!-- {{review}} -->
                <!-- <div class="review-image" v-if="review.FullName">
                  <img :src="review.FullName" alt="" />
                </div> -->
                <div class="review-name">
                  <h5 v-if="review.customer">{{review.customer.title}} {{review.customer.full_name}}</h5>
                  <p v-if="review.customer.email">{{review.customer.email}}</p>
                </div>
              </td>
              <td v-if="review.title">
                {{review.title}}
              </td>
              <!-- <td v-else>-</td> -->
              <!-- <td>Very beautiful trek but...</td> -->
              <td v-if="review.description">{{review.short_review}}</td>
              <td v-else>-</td>

              <td v-if="review.customer.created_at">{{review.customer.created_at}}</td>
              <td v-else>-</td>
              <td>
                <div class="review-star">
                  <star-rating v-model="review.rating" :increment="0.5" :read-only="true"></star-rating>
                </div>
              </td>
              <td>
                <div class="includes-action justify-content-start">
                  <!---->
                  <!---->
                  <!-- <button type="button" class="btn red" data-toggle="modal" data-target="#review-modal"><i
                      class="fas fa-eye"></i></button></div> -->
                <button type="button" class="btn green" data-toggle="modal" data-target="#review-modal" @click.prevent="reviewModal(review, index)"><i class="fas fa-eye"></i></button></div>
              </td>
            </tr>
            <tr v-else>
              
            </tr>

          </tbody>
        </table>
        <div v-if="ReviewList ==0" class="empty-data">
            <p>
              No comments
            </p>
          </div>      </div>
      <Pager @onPaging="onPaging" :pager="paging"></Pager>
      
      <div class="spinner">
        <moon-loader v-if="ReviewList" :loading="ui.IsLoading" :size="50" ></moon-loader>
    <!-- <spinner v-if="IsLoading" :loading="IsLoading"></spinner> -->
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal-wrap">
    <div class="modal fade show" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Review</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="review-block">

              <div class="review-image">
                <img src="img/user.jpg" alt="">
              </div>
              <div class="review-name">
                <!-- <h5> James Harold</h5> -->
                <h5>{{SelectedReview.NameTitle}} {{SelectedReview.FullName}}</h5>
                <!-- <p> jamesharold@email.com</p> -->
                <p>{{SelectedReview.Email}}</p>
              </div>
              <!-- <div class="review-date">
                <p>From <span>England</span> on <span>12-08-2018</span> </p>
              </div> -->
              <div class="review-date">
                <p>From <span>{{SelectedReview.Country}}</span> on <span>{{SelectedReview.Date}}</span> </p>
              </div>
              <!-- <div class="review-text">
                <p>
                  “We completed this trek in late Sept. / early Oct. We did this trek as a family ( 2
                  adults
                  and 2 young children (12yo and 9yo). The trek was a lot of fun! Certainly a medium
                  difficulty - but doable by just about anyone! Spectacular!”
                </p>
              </div> -->
              <div class="review-text">
                <p>{{SelectedReview.Review}}</p>
              </div>

              <div class="rating-block">
                <p>Rating</p>
                <div class="review-star">

                  <star-rating v-model="SelectedReview.Ratings" :increment="0.5" :read-only="true"></star-rating>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>

</div>