<div class="container-fluid">
    <div class="row">

        <div class="col-lg-7 px-0 d-md-none d-sm-none d-none d-lg-block">
            <div class="entry-banner">
                <img src="img/102NepalNeedsYou-SummitPost-Org.jpg" alt="" class="bg-stretch">
            </div>
        </div>
        <div class="col-lg-5 px-0">
            <div class="login-box">
                <div class="box-title">
                    <h1>Forgot password?</h1>
                </div>

                <form @submit.prevent="forgetpasswordAction()">
                    <validation-error v-if="isError" :isError="isError" :errors="errors" :field="'error'"
                        :hasMessageTitle="'true'" />
                    <div class="form-group">
                        <input type="email" v-model="user.email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="example@email.com">
                        <validation-error v-if="isError" :isError="isError" :errors="errors" :field="'email'" />
                    </div>

                    <div class="spacing">
                        <button type="submit" :disabled="postLoading" class="default-btn" v-text="btnName">
                            <spinner v-if="postLoading" :loading="postLoading"></spinner>
                        </button>
                    </div>
                    <p>Don't have an account? <router-link :to="{name:'business-register'}" class="link">Sign up</router-link>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>